<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bumper</property>
        <property name="hibernate.connection.username">bumper</property>
        <property name="hibernate.connection.password">bumper</property>
        <mapping resource="com/bumper/persistence/File.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Project.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Comment.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Change.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Changeset.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Dataset.hbm.xml"/>
        <mapping resource="com/bumper/persistence/IssueEvent.hbm.xml"/>
        <mapping resource="com/bumper/persistence/Issue.hbm.xml"/>
        <mapping resource="com/bumper/persistence/People.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
